.textOver {
    -fx-text-fill: #ff0000;
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.subOver {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}